<!DOCTYPE HTML>
<html>
<head>
    <title>login</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/loginAction.js"></script>
    <script src="/js/loginAction2.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

</head>
<body>

<a id="Login_start_" class="btn btn-danger" style="width:100px;height:40px;border-radius: 0;">登陆</a>
<a id="Regist_start_" class="btn btn-success" style="width:100px;height:40px;border-radius: 0;">注册</a>

<!-- 会员登录  -->
<!--<div id='Login_start' style="position: absolute;" >-->
<div id='_start'>
    <div id='_close' style="display: none;">
        <span class="glyphicon glyphicon-remove"></span>
    </div>
    <br />
    <!--登录框-->
    <div id="login_container">
        <div id="lab1">
            <span id="lab_login">会员登录</span>
            <span id="lab_toRegist">
						&emsp;还没有账号&nbsp;
						<span id='toRegist' style="color: #EB9316;cursor: pointer;">立即注册</span>
					</span>
        </div>
        <div style="width:330px;">
            <span id="lab_type1">手机号/账号登陆</span>
        </div>
        <form  action="/login/doLogin" method="post" >
            <div id="form_container1">
                <br />
                <input type="text" class="form-control" name="username" placeholder="手机号/用户名" id="login_number" value="admin" />
                <input type="password" class="form-control" name="password" placeholder="密码" id="login_password" />
                <input type="submit" value="登录" class="btn btn-success" id="login_btn" />
                <span id="rememberOrfindPwd">
						<span>
							<input id="remember" type="checkbox" style="margin-bottom: -1.5px;"/>
						</span>
					<span style="color:#000000">
							记住密码&emsp;&emsp;&emsp;&emsp;
						</span>
					<span style="color:#000000">
							忘记密码
						</span>
					</span>
            </div>
            <div style="display:block;width:330px;height:40px">
                <span id="lab_type2">使用第三方直接登陆</span>
            </div>
            <div style="width:330px;height:100px;border-bottom: 1px solid #FFFFFF;">
                <br />
                <button id="login_QQ" type="button" class="btn btn-info">
                    <img src="images/qq32.png" style="width:20px;margin-top:-4px;" />&emsp;QQ登录
                </button>
                <button id="login_WB" type="button" class="btn btn-danger">
                    <img src="images/sina32.png" style="width:20px;margin-top:-4px;" />&emsp;微博登录
                </button>
            </div>
    </div>
    </form>
    <!-- 会员注册 -->
    <div id='regist_container' style="display: none;">
        <div id="lab1">
            <span id="lab_login">会员注册</span>
            <span id="lab_toLogin">
						&emsp;已有账号&nbsp;
						<span id='toLogin' style="color: #EB9316;cursor: pointer;">立即登录</span>
					</span>
        </div>
        <div id="form_container2" style="padding-top: 25px;">
            <form action="/login/regest" method="post">

                <input type="text" class="form-control"  name="username"  placeholder="用户名"/>
                <input type="password" class="form-control" name="password" placeholder="密码"  />
                <input type="password" class="form-control" name="repassword" placeholder="确认密码"/>
                <!--<input type="text" class="form-control" placeholder="手机号" id="regist_phone" />-->
                <!--<input type="text" class="form-control" placeholder="验证码" id="regist_vcode" />-->
                <!--&lt;!&ndash;<button id="getVCode" type="button" class="btn btn-success" >获取验证码</button>&ndash;&gt;-->
                <!--<input id="getVCode" type="button" class="btn btn-success" value="点击发送验证码" onclick="sendCode(this)" />-->
               <input type="submit" value="注册" class="btn btn-success" />
        </form>
        </div>
    </div>
</div>

</body>
</html>